<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ResumeSendingTest">
    <test name="ResumeSendingTest">
        <classes>
            <class name="com.framework.dd.tests.lanit.e2e.ResumeSendingTest"/>
        </classes>
    </test>
</suite>